
Thumbs.db
.DS_Store
.project
.settings

application/config/database.php
application/config/embed_config.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*.php
# !application/logs/index.html

application/cli/*.txt
application/engines/mediael*/demo/*.html

application/language/*.pot
!application/language/ouplayer.pot.po

*.patch
*.diff
* copy*
*.log
*.mo

blog/*
drupal/*
_docs/*

# *min.js
