
.gitattributes
version.json

/git*.php
/git-pull*

Thumbs.db
.DS_Store
.project
.settings
_scratch

application/config/database.php
application/config/embed_config.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*.php
# !application/logs/index.html

application/cli/*.txt
application/engines/mediael*/demo/*.html

application/language/*.pot
!application/language/ouplayer.pot.po

node_modules/*

/*.patch
*.diff
* copy*
*OLD*
*ORIG*
*.log
*.mo

/blog*
/drupal*
_docs/*
/dev*

# *min.js


# New for 2016 (gae)

application/_data
composer.json
composer.lock
/vendor
app.yaml
php.ini


#End.
