
Thumbs.db
.DS_Store
.project
.settings
application/config/database.php
application/config/embed_config.php
application/logs/log-*.php
application/cache/*
app*/cli/xgettext.txt
app*/language/ouplayer_*.pot
*.diff
*.patch
*.html
* copy*
*.zip
*.log
*.mo
# *min.js
