@charset "utf-8";
/*
 * Example styles for OU Player and OU Embed embeds.
 * Copyright 2012 The Open University.
 */


/* Reset OUICE anomaly.
*/
body.ouice iframe, .oup-ice-test iframe.oembed, .oup-ice-test iframe.embed-rsp{ X-width:auto; max-width:99%; min-width:400px; }
body.oup-ice-test.pg-test-podcast_errors iframe{ min-width:auto; }


/* Generic page styles.
*/
.oup-jquery-test body{
  font:.9em sans-serif;
  background:#fbfbfb;
  color:#222;
  margin:2em;
}
a img{ border:none; }
abbr{ cursor:help; border-bottom:1px dotted #bbb; }
.oup-jquery-test iframe {
  display:block;
  overflow:hidden;
  border:none;
}

/* Generic oEmbed-response styles.
*/
.oup-ice-test .oembed, .oup-ice-test .embed-rsp{ margin:2em 0; }

iframe.oembed {
  display:block;
  margin:1em 0;
  border:1px solid #ddd;
  x-border-radius:5px;
}


/* 'New' 2012 OU player embeds.
*/
.oembed.ou.podcast.audio.theme-oup_light {
  width:380px;
  height:80px;
}
.oembed.ou.podcast.video /*.theme-oup_light*/ {
  width:640px;
  height:405px;
}

/* Legacy 2011 OU player embeds.
*/
.oembed.ou.podcast.audio.theme-legacy {
  width:380px;
  height:108px;
}


/* Simulate a narrow column ( ?width=narrow )
*/
.oup-small .oembed.ou.podcast.audio, .oup-narrow .oembed.ou.podcast.audio {
  width:360px;
}
.oup-small .oembed.ou.podcast.video, .oup-narrow .oembed.ou.podcast.video {
  width:380px;
  height:250px;
}

.oup-large .oembed.ou.podcast.video {
  width:720px;
  height:450px;
}

/* Experimental hover effect ( ?edge=1 )
*/
.oup-edge .oembed {
  margin:2px;
  padding:3px;
  border:2px solid transparent;
  border-radius:5px;
}
.oup-edge .oembed:hover{
  border-color:#aaa;
  background:#fff; /*Was: #ffd*/

  transition:all 1s;
  -moz-transition:all 1s; /* Firefox 4 */
  -webkit-transition:all 1s; /* Safari and Chrome */
  -o-transition:all 1s; /* Opera */
}


/* Test warning messages - needs work!
*/
.oup-test-warning/*.ouvle#warn*/ {
  text-align:center;
  border:1px solid #c11;
  background:#f2f2f2;
  margin:20px 0;
  padding:5px;
  font-size:1.2em;
}
.oup-test-warning h1 {
  font-weight:normal;
  font-size:1.3em;
  margin:.2em 0;
}


/* OUVLE 'beige' styles.
*/
body.path-mod {
  margin-left:2em;
}

#X-page-mod-oucontent-view .oucontent-s-heavybox2 .oucontent-inner-box {
  background-color: #ECEDD8;
  border: 1px solid #CCC;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; /* should be left! */
  border-bottom-right-radius: 5px;
}
#X-page-mod-oucontent-view .oucontent-inner-box {
  padding: 1px 10px 5px;
  margin: 0;
}

.oup-vle-edge iframe {
  border:1px solid #ECEDD8;
}
.oup-vle-edge iframe:hover, .oup-vle-edge iframe:focus {
  border-color:#ccc;
}


iframe.google-docs, .youtube.oembed iframe { width:99%; }


/* MathTran photo embeds.
*/
.oup-jquery-test [href*="mathtran.org"] {
  border:1px dotted #bbb;
  padding:4px;
  display:inline-block;
}
.oup-jquery-test [href*="mathtran.org"]:hover {
  border-bottom:1px solid #66c;
}

/* Cohere.
*/
.cohere.embed-rsp iframe {
  height:340px; width:1002px;
}
.cohere.embed-rsp div {
  height:357px; width:99% !important; overflow-x:scroll;
}
