@charset "utf-8";
/** OUICE-light theme for OU player.
* @copyright 2011 The Open University.
* @author D.J.Winter (visuals)
* @author N.D.Freear (CSS, 2011-07-20)
*/

/*Text-inset throughout? */
body,input{text-shadow:1px 1px 0 #fff; color:#183843; /*D. tourquoise*/}

.oup-controls{
  background-color:#d8d8d8;
  background-image:url(background/bg_h60px.png)/* repeat-x center*/;
  background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#f0f0f0),to(#c7c7c7));
  background-image:-webkit-linear-gradient(top, #f0f0f0, #c7c7c7);
  background-image:-moz-linear-gradient(top, #f0f0f0, #c7c7c7);
  background-image: -ms-linear-gradient(top, #f0f0f0, #c7c7c7);/*IE10*/
  background-image:  -o-linear-gradient(top, #f0f0f0, #c7c7c7);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#c7c7c7');*/
}
.oup-controls  .volume-bar, .oupc .mute, .oup.no-debug .related{
  display: none;
}
.oup-controls button span, .oup-controls a span, .oupc .head span{
  display: none;
}
.oupc .row-2{border:none;}


/*Accessibility: make it easy to see most buttons/links on keyboard access. */
.oup button:focus, .oup  a:focus, .oup-settings.panel textarea:focus{ outline:2px solid #50BBDE; }

/* TODO - ok? */
#oup-tooltips, #fixedtipdiv{ background:#183440; color:#eee; text-shadow:none; }

/*Accessibility: hide volume-out offscreen.*/
.oup-controls .volume-out{
  position:absolute;
  top:-999px;
}

.oup-controls .time-out, .oup-controls .time-total{
  border:1px solid #999;
  padding:0 7px;
  border-radius:3px;
  background:#dcdcdc;
  color:#183843; /*#222*/
  font-weight:bold;
  width:38px;
  height:12px;
  overflow:hidden;
  text-align:center;
}
.oup-controls .seek.group{
  padding-top:0;
}
.oup-controls .time-out{
  /*x-position:relative;
  x-top:6px;*/
  position:fixed;
  bottom:38px; /*38px*/
  left:100px;
  border-right:3px solid #999;
}
.oup-controls .time-total{border-left:3px solid #999;}

.oup-controls button, .oup-controls a{
  width:44px;
  height: 29px;
  border:none;
  /*border: 2px solid #555;*/
  background-color:transparent;
  background-repeat: no-repeat;
  background-position:top left;
  background-image:url(sprite/640x60_default.png);
}
.oup-controls  a{
  position:relative;
  top:2px;
  padding:0;
  display:inline-block;
}
.oup-controls button:hover, .oup-controls a:hover /*,.oup-controls button:focus, .oup-controls a:focus*/{
  background-image:url(sprite/640x60_hover.png);
}
.oup-controls button:active, .oup-controls a:active{
  background-image:url(sprite/640x60_down.png);
}

.oup-controls .play, .oupc .play:hover{ background-position:-2px -1px}
.oup-controls .pause,.oupc .pause:hover{background-position:-200px -1px}
.oup-controls .back,   .oupc .back:hover{background-position:-51px -2px; width:20px; height:20px; margin:0 0 0 2px;}
.oup-controls .forward,.oupc .forward:hover{background-position:-74px -2px; width:20px; height:20px; margin:0 2px 0 0;}

/*volume-group*/
.oup-controls .mute, .oupc .mute:hover, .oupc .mute:focus{background-image:none;}
.oup-controls .quieter,.oupc .quieter:hover{background-position:-50px -30px; width:30px;}
.oup-controls .louder, .oupc .louder:hover{background-position:-116px -30px; width:30px;}
.oupc  .volume.group .louder{left:35px;}
.oup-controls .volume.group  button{background-color:transparent;}
.oup-controls .volume-fg, .oupc .volume-bg{
  display:block; position:absolute;
  left:32px; bottom:1px;
  background:transparent url(sprite/640x60_hover.png) no-repeat -80px -32px;
  width:36px;
  height:25px;
  x-border-left:30px solid transparent;
  x-border-bottom:27px solid black;
  z-index:100;
}
.oupc .volume-bg{ left:34px; width:30px; background:#aaa; z-index:1;/*z-i:1 for MSIE 7.*/}
/*Volume feedback: width will vary! */
.oupc .volume-bg .vol-bg-inner{display:block; height:100%; width:50%; background:#183843;}
.X-oup.vol-focus .volume-bg, .X-oupc .volume-inner:hover .volume-bg{display:block;}

/*tools-group*/
.oup-controls .related,.oupc .related:hover{background-position:-141px -30px}
.oup-controls .captn ,  .oupc .captn:hover {background-position:-444px -30px}
.oup-controls .tscript,.oupc .tscript:hover{background-position:-493px -30px}
.oup-controls .popout, .oupc .popout:hover{background-position:-542px -30px}
.oup-controls .fulls, .oupc .fulls:hover {background-position:-395px -30px}
.oup-controls .more, .oupc .more:hover{background-position:-591px -30px}

/*Usability: default is US/Internat. English - "CC"; for British English - "S" (subtitles). */
.oup.lang-en-gb  .oupc .captn{background-position:-346px -30px;}

/*seek-bar.*/
.oup-controls .X-seek-bar *{display:block;}

.oupc .seek-bar{background:url(timeline/timeline_grey_main.png) repeat-x center;}
.oupc .buffer{background:url(timeline/timeline_hatch_main.png) repeat-x center;}
.oupc .progress{background:url(timeline/timeline_bluebar_main.png) repeat-x center; width:2px;}
.oupc .playhead{background:url(timeline/timeline_slider.png) no-repeat right; width:7px; height:14px; top:-36px;}

/*.oup-controls .seek-bar, .oupc .buffer, .oupc .progress, .oupc .playhead{
  border:1px solid transparent;
  border-radius:4px;  
}*/

.oup .tscript-close, .oup .more-close{
  background:url(pix/transcript_close.png) no-repeat center;
}
.oup .tscript-close, .oup .more-close, .oup-tscript-panel  a.pdf.icon {
  display:block; border:1px solid transparent; border-radius:3px; width:30px; height:32px; padding:0; float:right;
}
.oup-tscript-panel  a.pdf.icon{margin-right:2px;}
.oup .tscript-close:focus, .oup-tscript-panel  a.pdf.icon:focus{background-color:#bbb;}
.oup .tscript-close:hover, .oup-tscript-panel  a.pdf.icon:hover{background-color:#eaeaea; border:1px solid #bbb; box-shadow:0 1px 1px #ccc;}
.oup .tscript-close span, .oup .more-close span{display:none;}
.oup .more-close{width:16px; height:18px; margin-right:1px;}


.oup-settings.panel, .oup-settings.panel textarea, .oup-title.panel{
  background:#e8e8e8; /*#d8d8d8;*/
  color:#072732; /*#183843; #181818*/
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=88)"; /*First!*/
  filter:alpha(opacity=88);
  opacity:0.88;
}
.oup-settings.panel a{
  color:#072732;
  text-decoration:none;
  border-bottom:1px solid transparent;
}
.oup-settings.panel a:hover, .oup-settings.panel textarea:hover, .oup-settings.panel :focus{
  background-color:#fbfbfb;
  color:#183843;
  border-bottom:1px solid #888;
}
.oup-title.panel{
  background:#d8d8d8;
  margin:0;
  padding-bottom:2px;
  overflow:hidden;
  position:fixed;
  bottom:60px; top:auto;
  max-width:none; width:100%; height:42px;
}
.oup.restrict .oup-title.panel{bottom:0; height:7em;}
.oup.mtype-audio.mode-embed .oup-title.panel{background:#eaeaea; color:#183843;}
.oup.html5-fallback .oup-title.panel{bottom:0;}

.oup-title.panel a{color:#183843;/*#111*/}
.oup-title.panel a.rel-2{white-space:nowrap; /*audio-player*/}
.oup-XX-title.panel a.rel-2:hover{background:url(pix/related_link.png) no-repeat center right; padding-right:22px;}
.oup-title.panel h1{text-shadow:1px 1px 0 #fff;}
.oup-title.panel .mediatitle li{margin-left:38px;}
.oup-title.panel .ou-home{float:left; background:url(pix/logo_black_32x38px.png) no-repeat center;}
.oup-title.panel .optionalnav{display:none;}
/*.mtype-audio*/ .oup-title .summary{display:none;}


/*#oup-tooltips*/
.tt-play{top:auto !important; bottom:60px;} /*style=visibility:hidden; left:1px; top:318px;*/
.oup.mtype-audio.mode-embed.ctx-Vle_player/*.no-poster*/ .tt-play{bottom:34px; left:45px !important;}
.oup.mtype-audio.mode-embed.ctx-Vle_player .tt-back{top:auto !important; bottom:34px; left:71px !important;}
.oup.mtype-audio.mode-embed.ctx-Vle_player .tt-forward{top:auto !important; bottom:34px; left:96px !important;}


/*Browser hacks. */
.oup.-o .time-out{ X-top:-4px; bottom:38px;}
.oup.-webkit .time-out, .oup.-webkit .time-total{padding-bottom:2px; height:13px;}
.oup.-webkit .seek-bar, .oup.-ie7 .seek-bar{bottom:36px;}
.oup.-ie7 .time-out, .oup.-ie7 .time-total, .oup.-ie8 .time-out, .oup.-ie8 .time-total{height:10px; padding-bottom:2px; font-size:.9em;}
.oup.-ie8 .time-out, .oup.-ie7.-docmode8 .time-out, .oup.-ie7.-docmode9 .time-out{position:relative; top:-4px; left:-3px;}
.oup.-ie7 .time-out{position:relative; top:1px; left:2px;}
.oup.-ie7  .volume.group .louder{left:39px;}


/*MSIE hack - border is required! */
.oup.-ie7.-no-docmode.mode-embed.mtype-audio .oup-title a.rel-2{
  position:relative;
  top:-14px;

  border:1px solid transparent;
}

/*
.X-oup.-ie7 .oupc{border:2px solid red;}
.X-oup.-ie8 .oupc{border:2px solid green;}
.X-oup.-ie9 .oupc{border:2px solid blue;}
*/
