@charset "utf-8";
/* LAMS embed styles. */
.lams.embed-rsp {font:.9em Verdana,Arial,sans-serif; width:560px;}
.lams.embed-rsp img{border:none;} .lams.embed-rsp abbr{border-bottom:1px dotted gray;}
.lams.embed-rsp h3 {margin:.4em 0; font-size:1em;}
.__lams.embed-rsp object{display:block;}
.lams.embed-rsp .seq{display:block; --width:500px; margin:.6em auto;}
.lams.embed-rsp .zoom{display:block; text-decoration:none; float:right; width:4.5em;
 background:url(http://lamscommunity.org/lamscentral/embed/z.png) no-repeat left; padding-left:20px;}
.lams.embed-rsp .zoom:hover{text-decoration:underline;}
.lams.embed-rsp .logo{float:right; border:1px solid transparent; padding:3px;}
.lams.embed-rsp .logo:hover{border:1px dotted gray; border-radius:2px;}
.lams.embed-rsp .foot{clear:both;}
.lams.embed-rsp .button{font-size:.85em; text-decoration:none; color:#000;
 background:#eee url(btn-yel.png) repeat-x; padding:3px 1.5em/*1.7em*/ 2px;
 border:1px solid #aaa; -moz-border-radius:4px; border-radius:4px;}
.lams.embed-rsp .button:hover, .lams.embed-rsp .button:focus{border:1px solid #448;}
.lams.embed-rsp a span{display:inline-block; width:0; height:0; overflow:hidden; /*position:absolute; top:-999em;*/}
.lams.embed-rsp .cc-by-nc-sa{background:url(cc-by-nc-sa.png) no-repeat left; padding-left:51px; letter-spacing:-0.05em;}
