@charset "utf-8";
/* LAMS styles. */
.lams.oembed {font:.9em Verdana,Arial,sans-serif; width:560px;}
.lams.oembed img{border:none;} .lams.oembed abbr{border-bottom:1px dotted gray;}
.lams.oembed h3 {margin:.4em 0; font-size:1em;}
.__lams.oembed object{display:block;}
.lams.oembed .seq{display:block; --width:500px; margin:.6em auto;}
.lams.oembed .zoom{display:block; text-decoration:none; float:right; width:4.5em;
 background:url(http://lamscommunity.org/lamscentral/embed/z.png)no-repeat left; padding-left:20px;}
.lams.oembed .zoom:hover{text-decoration:underline;}
.lams.oembed .logo{float:right; border:1px solid transparent; padding:3px;}
.lams.oembed .logo:hover{border:1px dotted gray; border-radius:2px;}
.lams.oembed .foot{clear:both;}
.lams.oembed .button{font-size:.85em; text-decoration:none; color:#000;
 background:#eee url(btn-yel.png) repeat-x; padding:3px 1.5em/*1.7em*/ 2px;
 border:1px solid #aaa; -moz-border-radius:4px; border-radius:4px;}
.lams.oembed .button:hover, .lams.oembed .button:focus{border:1px solid #448;}
.lams.oembed a span{position:absolute; top:-999em;}
.lams.oembed .cc-by-nc-sa{background:url(cc-by-nc-sa.png)no-repeat left; padding-left:51px; letter-spacing:-0.05em;}
