@charset "utf-8";
/* OU-Sharepoint embed styles.
   http://www.open.ac.uk/webstandards/v3.0/icons.php */
.sharepoint.embed-rsp a.cr, a.vi, .sharepoint.embed-rsp time, .sharepoint.embed-rsp i{ font-size:small; }

/* Download link */
.sharepoint.embed-rsp a.dl{ background:url(http://sharepoint.microsoft.com/_layouts/images/favicon.ico) no-repeat right; padding-right:18px; }
.sharepoint.embed-rsp.pdf a.dl{ background-image:url(http://www.open.ac.uk/includes/icons/16x16px/06pdf16.gif); }
.sharepoint.embed-rsp.doc a.dl{ background-image:url(http://www.open.ac.uk/includes/icons/16x16px/07word16.gif); }
.sharepoint.embed-rsp.ppt a.dl{ background-image:url(http://www.open.ac.uk/includes/icons/16x16px/08ppt16.gif); }
.sharepoint.embed-rsp.xls a.dl{ background-image:url(http://www.open.ac.uk/includes/icons/16x16px/09xls16.gif); }

/* Preview link */
.sharepoint.embed-rsp a.vi{ background:url(http://www.open.ac.uk/includes/icons/16x16px/066reader_8Bit16x16.gif) no-repeat;
 width:18px; height:17px; display:inline-block; border-bottom:1px dotted blue; }
.XX-sharepoint.embed-rsp a.vi:before{ content:' (' }
.XX-sharepoint.embed-rsp a.vi:after{ content:') ' }

/* Sharepoint link */
.sharepoint.embed-rsp a.sp{ background:url(http://www.open.ac.uk/includes/icons/16x16px/03info16.gif) no-repeat;
 width:18px; height:17px; display:inline-block; border-bottom:1px dotted blue; }
