@charset "utf-8";
/** OU player core styles. Copyright 2011 The Open University.
*/
* {font-size:1em;}

body{margin:0; padding:0; background:#f8f8f8; color:#222;
  font:.8em Verdana, Tahoma,"Lucida Grande",Arial,Helvetica,sans-serif;}
object,img,audio,video{display:block; width:100%; height:100%;}
a img{border:none;}

body.oup, .oup .oup-controls{ min-width:340px; } /*Was: 460px*/
body.oup.mtype-audio, .oup.mtype-audio .oup-controls{
  min-width:320px; /*Was: 330px*/
}

/*Development ideas only! */
/*@media (max-width: 400px) {*/
  .oup.no-debug .oupc .related, .oup.no-debug .oupc .fulls{display:none;}
/*}*/

.html5-dload{display:block; float:right;}

.oup.ctx-Vle_player.mode-embed  .oup-title.panel{display:none !important;}
.oup.ctx-Vle_player  .oup-settings.panel .media-url, .oup.ctx-Vle_player .html5-dload{display:none;}

/*Debug: simples! */
body.X-debug:after{content:attr(class); color:red;}

.offscreen{ position:absolute; top:-999px; }

/* Hide initially, including transcript panel.*/
#ouplayer-div, .oup-html5-media, .XX--oup-controls{display:none;}
#ouplayer, .ouplayer{cursor: wait;}

#ouplayer-div{position:fixed; top:0; bottom:60px; left:0; right:0;}

/*Access control. */
#ouplayer.mode-embed.restrict{cursor:default;}
.oup.mode-embed.restrict #ouplayer-div{display:block;}

/*#ouplayer.w640{width:640px;}
/*Note, if player-div needs to float, it should always float. Else it breaks Flash! *-/
.oup #ouplayer-div, .oup #oup-controls{float:left;}*/

/* Hide unused controls - audio. */
.oup.mtype-audio a.captn, .oup-XX.mtype-audio a.tscript, .oup.mtype-audio a.fulls{display:none}

/* Hide unused controls - general. */
.oup.no-debug.no-captions a.captn{display:none}
.oup.no-debug.no-tscript a.tscript{display:none}
/*Dev: show related links for 'private' media, for now.*/
.oup.no-debug.no-rel-link a.related, .oup.no-debug.is-X-X-private a.related{display:none}


#oup-tooltips, #fixedtipdiv{
  position:absolute;
  padding:2px 4px;
  border:1px solid #aaa;
  border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
  background:lightyellow; color:#222;
  line-height:18px;
  z-index:1000;
  visibility:hidden;
}

/*#ouplayer-outer{
  position: fixed;
  background: #ccc;
  --text-align: center;
  width: 100%;
  top: 0;
  bottom: 62px;
}*/

/*State change: show/hide transcript pane. */
.oup.hide-tscript  .oup-tscript-panel{display:none;}
.oup.show-tscript  .oup-tscript-panel{display:block;}

.oup.show-tscript .oup-tscript-panel{width:195px;/*215px;*/ position:fixed; top:0; /*left:215px;*/ right:0; bottom:60px;/*height:410; 440px; 100%;*/
  overflow-y:scroll; border-left:1px solid #999; padding-left:4px; background:#f8f8f8; /*color:#222;*/ }
/*.oup.show-tscript #ouplayer-div, .oup.show-script #oup-controls{width:420px;}
.oup.show-tscript #ouplayer-div object, .show-script #ouplayer-div video{width:420px !important;}*/
.oup.show-tscript #ouplayer-div{right:195px;}
.oup.show-tscript #ouplayer-div .__object{width:100%;}

/*Pop-up player transcript - wider. */
.oup.mode-popup.show-tscript .oup-tscript-panel{width:29em; /*300px*/ padding:0 10px; font-size:1.1em; line-height:1.6em;}
.oup.mode-popup.show-tscript #ouplayer-div{right:29em;}

.oup.mtype-audio.show-tscript .oup-tscript-panel{width:auto; left:0; padding:2px 15px;}
.oup.mtype-audio .transcript{max-width:35em; min-width:210px; margin:0 auto;}

.oup-tscript-panel  .pdf.icon{background:url(pix/06pdf16.gif) no-repeat center; padding-left:16px;}
.oup-tscript-panel  .pdf.icon span{display:none;}

/** Controls toolbar.
*/
.oup-controls{
  background: green;
  /*-x-position: absolute;*/
  position: fixed;
  height: 60px;
  bottom: 0;
  width:100%;
}
/*.oup-controls*/ button, .oup-controls a{
  width:44px;
  height: 29px;
  cursor:pointer;
  font-size:.9em;
  background:#eee;
  border-radius: 4px;
}
.oup-controls  a {
  /*position: relative;
  top: -4px;*/

  display: inline-block;
  text-align: center;
  padding: 5px 0 0;
  margin-bottom: 0px;
  height: 22px;
  /*border: 1px solid #ccc;*/
}

/*Accessibility: make it easy to see most buttons/links on keyboard access. */
.oup button:focus, .oup  a:focus, .oup-settings.panel textarea:focus{
  outline:2px solid yellow; -moz-outline-radius:4px; }
.oup  a.ou-home:focus{outline:none;}
.oup-controls button:hover, .oup-controls a:hover{background:#bbb;}

.bar {-moz-border-radius:6px; border-radius: 6px; height: 20px; }
.bar * /*span*/{display:block; height: 20px; width:2px;}

.X-oup-controls input{padding-bottom:2px;}

/*.play-pause*/ .oup-controls .play, .oup-controls .pause{
  position: relative;
  width: 44px;
  height: 58px;
  top: 59px;
  margin: 1px;
}
.oupc .row-1, .row-2{
  height: 29px;
}
.oupc .row-1{
  position: relative;
  top: -59px;
}
.oupc  .seek.group{
  position: relative;
  left: 48px;
}
.oupc .time-out{
  width: 76px;
}
.oupc .time-total{
  width: 36px;
}
.oupc  .time-right.group{
  position: fixed;
  right: 50px;
  bottom:37px;
}

.oupc .seek-bar{
  background: blue;

  position: fixed;
  bottom: 35px;
  left: 155px;
  right: 104px;/*48px*/
  min-width: 110px;
}
.seek-bar .buffer{
  background: #47f;
  cursor:pointer;
}
.seek-bar .progress{
  background: gray;
  cursor:pointer;

  position: relative;
  top: -20px;
  width: 1em;
}
.X-oupc .bar .head{
  cursor:pointer;
  background: black;
  color: white;
  width: .7em;
}
.seek-bar .playhead{
  position: relative;
  top: -40px;
}
.oupc .row-2{
  border-top: 1px dashed black;
  position: relative;
  left: 50px;
  x-top: -28px;
}
.oupc  .volume.group button{position:relative; top:1px;}
.oupc  .volume.group .louder{left:-6px;}
.oupc .volume-bar{
  background: yellow;

  position: fixed;
  bottom: 4px;
  left: 96px;
  right: 310px;

  min-width: 100px;
  max-width: 400px;
}
/*Accessibility: typically, volume-out will be hidden off-screen. NOT display:none !! */
.oup-controls .volume-out/*:focus*/{
  background: #ff9;
  z-index: 1000;

  position: fixed;
  right: 294px;
  top: auto;
  bottom: 4px;
  width: 2.5em;
  height:1.2em;
  /*overflow:hidden;*/
}
.oupc .louder:focus, .oupc .quieter:focus{
  position:static;
  /*--top: 0;*/
  /*z-index: 1000; /* ?? */
}

.oupc .tools.group{
  position: absolute;
  bottom: -2px; /*was:1px*/
  right: 52px;
}

/* CSS3 media-query: hide video-player t-script button (620-2)px */
@media _X-DISABLE_ and (max-width: 585px/*618px*/) {

  .oup.mtype-video/*.no-debug*/ .oup-controls a.tscript{ display:none; }
}
/*CSS3: hide poster image for small audio player. */
@media (max-height: 190px) {
  /*.oup.mtype-audio*/ .oup-poster{ display:none; }
}
@media (max-height: 230px) {
  .oup-controls a.tscript, .oupc a.more{ display:none; }
}

.oup button.tscript-close{margin:2px;}

/*.hide-settings*/ .oup-settings.panel{
  display:none;
  position:fixed;
  bottom: 32px;
  padding: 0;
  right: 3px;
  width: 210px;
  border: 2px solid #aaa;
  border-radius: 4px;
  background: #f8f8f8;
}
/*State change. */
.show-settings .oup-settings.panel{display:block; z-index:1000;}

.oup-settings.panel a, .oup-settings.panel label{
  display: block;
  border-radius:2px;
  padding: 3px 6px;
}
.oup-settings.panel textarea{
  width:99%;
  height:5em;
  font-size:.95em;
  overflow:hidden;
  border:none;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
}

/*.oup-playing*/ .oup-title.panel{
  display:none;
  position: absolute;
  top: 5px;
  background:#eee;/*#f8f8f8*/
  color:#111;
  x-min-width: 360px;
  max-width: 650px;/*616px*/
  width: 85%;
  max-height: 160px;
  padding: 6px;
  margin: 6px;
}
.oup.mtype-audio .oup-title.panel, .oup.restrict .oup-title.panel{display:block;}
/*@media (min-height: 200px){
  .oup-title.panel{ display:none; }
}*/
/*State change. */
.oup.mtype-video.oup-paused .oup-title.panel{display: block; z-index:100;}
.oup.mtype-video.show-tscript .oup-title.panel, .oup.mtype-audio.show-tscript .oup-title.panel{display:none;}

.oup-title.panel h1{margin:0 0 5px; white-space:nowrap; overflow:hidden;}
.oup-title.panel .ou-home{display:block; width:32px; height:/*1px;*/38px; background:url(oulogo-39.png) no-repeat top left;}
.oup-title.panel .restrict-text{color:#c00;}
.oup.mode-popup .restrict-text{font-size:.7em; line-height:.7em;}
.oup-title.panel .rel-2{font-size:.94em;}
.oup-title.panel ul{list-style:none; padding:0; margin:0;}
.oup-title.panel .optionalnav{}

/* Play Icon */
.X-oup-play-control{width:44px; height:48px;}
.X-oup-play-control span { display: block; font-size: 1em; line-height: 0; }
.X-oup-paused .play span {
  width: 0; height: 0; margin: 0.8em 0 0 0.8em;
  /* Drawing the play triangle with borders - http://www.infimum.dk/HTML/slantinfo.html */
  border-left: 1em solid #fff; /* Width & Color of play icon */
  /* Height of play icon is total top & bottom border widths. Color is transparent. */
  border-top: 0.5em solid rgba(0,0,0,0); border-bottom: 0.5em solid rgba(0,0,0,0);
}
.X-oup-playing .play span {
  width: 0.3em; height: 1em; margin: 0.8em auto 0;
  /* Drawing the pause bars with borders */
  border-top: 0px; border-left: 0.3em solid #fff; border-bottom: 0px; border-right: 0.3em solid #fff;
}
