@charset "utf-8";
/** OU player core styles. Copyright 2011 The Open University.
*/
html,body{margin:0; padding:0; background:#ddd; color:#222; font:1em Arial,sans-serif;}
object,img,audio,video{display:block;}

/* Hide initially, including transcript panel.*/
#ouplayer-div, #oup-controls{display:none;}
#ouplayer, .ouplayer{cursor: wait;}

#oup-tooltips, #fixedtipdiv{
  position:absolute;
  padding: 2px;
  border:1px solid #aaa;
  border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
  background:lightyellow; color:#222;
  line-height:18px;
  z-index:100;
  visibility:hidden;
}

#X-ouplayer-div{z-index:50;}

.oup.hide-script  #ouplayer-panel{display:none;}
.oup.show-script  #ouplayer-panel{display:block;}
#ouplayer-panel{width:211px; float:right; height:410px; overflow-y:scroll; border-left:1px solid #aaa; padding-left:3px;}

.oup.show-script #ouplayer-div{width:425px;}

#oup-controls{background:#222; color:#eee; width:640px;}
.oupc-r1, .oupc-r2{position:relative; top:-48px; left:50px; }
.oupc-r2{}

#oup-controls button, #oup-controls a{height:28px;}
#oup-controls a{display:inline-block; -moz-appearance:button; -webkit-appearance:button; /*neat!*/}
.X-button:-moz-focusring{outline: 4px dotted yellow;}
#oup-controls .play, .pause{height:48px; width:40px; /*position:relative; top:0;*/}

.__button.back{-moz-appearance:scrollbarbutton-left;}



/*#oup-controls .sl{height:20px; border:1px solid #777; cursor:pointer; }
#oup-controls .track{width:285px; }
#oup-controls .playhead{width:3px;}
.track .progress, .track .buffer{width:0;
 filter: alpha(opacity=10);
 opacity:0.1;}
.track .sl{display:inline-block;}
*/
/* the timeline (or "scrubber")  */
.track *{display:block;}
.hulu .sl{position:absolute;}
.hulu .track {
border:1px dotted #666;

	left:47px;
	--position:absolute;
	cursor:pointer;
	width:285px;
	border-left:1px solid #999;
	height:40px;	
}
/* the draggable playhead */
.hulu .playhead {
	--position:absolute;
	cursor:pointer; 
	background-color:#4ff;
	opacity:0.3;
	filter: alpha(opacity=30);	
	width:3px;
	height:40px;
	border-right:1px solid #444;
}
/* buffer- and progress bars. upon runtime the width of these elements grows */
.hulu .progress, .hulu .buffer {
	--position:absolute;
	background-color:#4ff;
	filter: alpha(opacity=10);
	opacity:0.1;
	width:0px;
	height:40px;
}
.hulu .buffer {
	background-color:#fff;
	opacity:0.1;
	filter: alpha(opacity=10);
}

/* Play Icon */
.-oup-play-control{width:44px; height:48px;}
.-oup-play-control span { display: block; font-size: 1em; line-height: 0; }
.-oup-paused .play span {
  width: 0; height: 0; margin: 0.8em 0 0 0.8em;
  /* Drawing the play triangle with borders - http://www.infimum.dk/HTML/slantinfo.html */
  border-left: 1em solid #fff; /* Width & Color of play icon */
  /* Height of play icon is total top & bottom border widths. Color is transparent. */
  border-top: 0.5em solid rgba(0,0,0,0); border-bottom: 0.5em solid rgba(0,0,0,0);
}
.-oup-playing .play span {
  width: 0.3em; height: 1em; margin: 0.8em auto 0;
  /* Drawing the pause bars with borders */
  border-top: 0px; border-left: 0.3em solid #fff; border-bottom: 0px; border-right: 0.3em solid #fff;
}
