@charset "utf-8";
/** OUICE-dark theme for OU player.
* @copyright 2011 The Open University.
* @author D.J.Winter (visuals)
* @author N.D.Freear (CSS)
*/
.oup-controls{
  background:#555 url(background/2000x60_bg.png) no-repeat center left; /*was:64x60_bg.png*/
}
.oup-controls  .volume-bar, .oup.no-debug .mute{
  display: none;
}
.oup-controls button span, .oup-controls a span, .oupc .head span{
  display: none;
}
.oupc .row-2{border:none;}

/*Accessibility: hide volume-out offscreen.*/
.oup-controls .volume-out{
  position:absolute;
  top:-999px;
}

.oup-controls .time-out, .oup-controls .time-total{
  border:1px solid #222;
  padding:0 7px;
  border-radius:3px;
  background:#373737;
  color:#eee;
  width:38px;
  height:13px;
  overflow:hidden;
}
.oup-controls .seek.group{
  padding-top:3px;
}
.oup-controls .time-out{
  position:relative;
  top:3px;
}

.oup-controls button, .oup-controls a{
  width:44px;
  height: 29px;
  border:none;
  /*border: 2px solid #555;*/
  background-color: #555;
  background-repeat: no-repeat;
  background-position:top left;
  background-image:url(sprite/640x60_default.png);
}
.oup-controls  a{
  position:relative;
  top:2px;
  padding:0;
  display:inline-block;
}
.oup-controls button:hover, .oup-controls a:hover /*,.oup-controls button:focus, .oup-controls a:focus*/{
  background-image:url(sprite/640x60_hover.png);
}
.oup-controls button:active, .oup-controls a:active{
  background-image:url(sprite/640x60_down.png);
}

/*TODO: add :active and :focus !!*/
.oup-controls .play, .oupc .play:hover{ background-position:-2px -1px}
.oup-controls .pause,.oupc .pause:hover{background-position:-200px -1px}
.oup-controls .back,   .oupc .back:hover{background-position:-58px -8px; width:18px; height:14px; margin:4px 0 0 4px;}
.oup-controls .forward,.oupc .forward:hover{background-position:-81px -8px; width:18px; height:14px; margin:4px 4px 0 0;}

/*volume-group*/
.oup-controls .mute, .oupc .mute:hover, .oupc .mute:focus{background-image:none;}
.oup-controls .quieter,.oupc .quieter:hover{background-position:-51px -30px}
.oup-controls .louder, .oupc .louder:hover{background-position:-94px -30px; X-padding-left:-4px;}
.oup-controls .volume.group  button{background-color:transparent; z-index:1000;}
.oup-controls .volume-bg{
  display:block; position:absolute; left:28px; bottom:3px;
  width:29px; height:24px;
  background:#aaa;
}
.oup-controls .vol-bg-inner{
/*Volume feedback: width will vary! */
  display:block; height:100%; width:50%;
  background:/*#8af*/ url(background/vol_bg2.png) repeat-x bottom left;
}

/*tools-group*/
.oup-controls .related,.oupc .related:hover{background-position:-141px -30px}
.oup-controls .captn ,  .oupc .captn:hover {background-position:-444px -30px}
.oup-controls .tscript,.oupc .tscript:hover{background-position:-493px -30px}
.oup-controls .popout, .oupc .popout:hover{background-position:-542px -30px}
.oup-controls .fulls, .oupc .fulls:hover {background-position:-395px -30px}
.oup-controls .more, .oupc .more:hover{background-position:-591px -30px}

/*seek-bar.*/
.oup-controls .X-seek-bar *{display:block;}

.oupc .seek-bar{background:url(timeline/timeline_grey_main.png) repeat-x center;}
.oupc .buffer{background:url(timeline/timeline_hatch_main.png) repeat-x center;}
.oupc .progress{background:url(timeline/timeline_bluebar_main.png) repeat-x center; width:2px;}
.oupc .playhead{background:url(timeline/timeline_slider.png) no-repeat right; width:9px; height:14px; top:-37px;}

/*.oup-controls .seek-bar, .oupc .buffer, .oupc .progress, .oupc .playhead{
  border:1px solid transparent;
  border-radius:4px;  
}*/

.oup .tscript-close, .oup .more-close{
  background:url(transcript_close.png) no-repeat center; border:1px solid transparent; width:34px; height:34px; float:right;
}
.oup .tscript-close:focus{background-color:#bbb;}
.oup .tscript-close:hover{background-color:#eee; border:1px solid #ddd;}
.oup .tscript-close span, .oup .more-close span{display:none;}
.oup .more-close{width:16px; height:18px;}


.oup-settings.panel, .oup-settings.panel textarea, .oup-title.panel{
  background:#353535; /*#444*/
  color:#fdfdfd;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=88)"; /*First!*/
  filter:alpha(opacity=88);
  opacity:0.88;
}
.XX-oup.mtype-audio .oup-title.panel{background:#555;}
.oup-settings.panel a{
  color:#fafafa;
  text-decoration:none;
  border-bottom:1px solid transparent;
}
.oup-settings.panel a:hover{
  background:#111;
  border-bottom:1px solid #ccc;
}
.oup-title.panel{
  background:#535353;
  margin:0;
  padding-bottom:2px;
  overflow:hidden;
  position:fixed;
  bottom:60px; top:auto;
  max-width:none; width:100%; height:41px;
}
/*Move to core styles? */
.oup.restrict .oup-title.panel{bottom:0; height:7em;}
.oup.html5-fallback .oup-title.panel{bottom:0;}

.oup-title.panel a{color:#eee;}
.oup-title.panel a.rel-2{white-space:nowrap; /*audio-player*/}
.oup-title.panel h1{text-shadow:#000 0 2px 2px; font-weight:normal;}
.oup-title.panel .mediatitle li{margin-left:38px;}
.oup-title.panel .ou-home{float:left; background:url(pix/oulogo_white_32x38px.png) no-repeat;}
.oup-title.panel .restrict-text{color:yellow;}
.oup-title.panel .optionalnav{display:none;}
/*.mtype-audio*/ .oup-title .summary{display:none;}

/*#oup-tooltips*/
.tt-play{top:auto !important; bottom:60px;}
.oup.mtype-audio.mode-embed.ctx-Vle_player/*.no-poster*/ .tt-play{bottom:34px; left:46px !important;}
.oup.mtype-audio.mode-embed.ctx-Vle_player .tt-back{top:auto !important; bottom:34px; left:72px !important;}
.oup.mtype-audio.mode-embed.ctx-Vle_player .tt-forward{top:auto !important; bottom:34px; left:95px !important;}

/*Browser hacks. */
.oup.-o .time-out{ X-top:-4px; bottom:38px;}
.oup.-webkit .time-out, .oup.-webkit .time-total{padding-bottom:2px; height:13px;}
.oup.-ie7 .time-out, .oup.-ie7 .time-total, .oup.-ie8 .time-out, .oup.-ie8 .time-total{height:13px; padding-bottom:2px;}
.oup.-ie8 .time-out, .oup.-ie7.-docmode8 .time-out, .oup.-ie7.-docmode9 .time-out{position:relative; top:-4px; left:-1px;}
.oup.-ie7 .time-out{position:relative; top:1px; left:2px;}
.oup.-ie7  .volume.group .louder{left:0;}
.oup.-ie7.-docmode8 .volume.group .louder{left:-6px;}
