/**
* OUICE-dark theme for OU player.
* @copyright 2011 The Open University.
* @author D.J.Winter (visuals)
* @author N.D.Freear (CSS)
*/
.oup-controls{
  background:gray url(background/640x60_bg.png) repeat-x center;
}
.oup-controls  .volume-bar, .oup.no-debug .mute{
  display: none;
}
.oup-controls button span, .oup-controls a span, .oupc .head span{
  display: none;
}

/*Accessibility: hide volume-out offscreen.*/
.oup-controls .volume-out{
  position:absolute;
  top:-999px;
}

.oup-controls .time-out, .oup-controls .time-total{
  border:1px solid #111;
  padding:0 8px;
  border-radius:3px;
  background:#333;
  color:#eee;
  width:35px;
  height:13px;
  overflow:hidden;
}
.oup-controls .seek.group{
  padding-top:3px;
}
.oup-controls .time-out{
  position:relative;
  top:3px;
}

.oup-controls button, .oup-controls a{
  width:44px;
  height: 29px;
  border:none;
  /*border: 2px solid #555;*/
  background-color: #555;
  background-repeat: no-repeat;
  background-position:top left;
  background-image:url(sprite/640x60_default.png);
}
.oup-controls  a{
  position:relative;
  top:2px;
  padding:0;
  display:inline-block;
}
.oup-controls button:hover, .oup-controls a:hover, .oup-controls button:focus, .oup-controls a:focus{
  background-image:url(sprite/640x60_hover.png);
}
.oup-controls button:active, .oup-controls a:active{
  background-image:url(sprite/640x60_down.png);
}

/*TODO: add :active and :focus !!*/
.oup-controls .play, .oupc .play:hover{ background-position:-2px -1px}
.oup-controls .pause,.oupc .pause:hover{background-position:-200px -1px}
.oup-controls .back,   .oupc .back:hover{background-position:-58px -8px; width:18px; height:14px; margin:4px 0 0 4px;}
.oup-controls .forward,.oupc .forward:hover{background-position:-81px -8px; width:18px; height:14px; margin:4px 4px 0 0;}
/*.oup-controls .play, .oupc .play:hover{ background-position:-4px -3px}
.oup-controls .pause,.oupc .pause:hover{background-position:-200px -1px}
.oup-controls .back,   .oupc .back:hover{background-position:-60px -10px; width:18px; height:14px; margin:4px 0 0 4px; }
.oup-controls .forward,.oupc .forward:hover{background-position:-83px -10px; width:18px; height:14px; margin:4px 4px 0 0; }*/

/*volume-group*/
.oup-controls .mute, .oupc .mute:hover, .oupc .mute:focus{background-image:none;}
.oup-controls .quieter,.oupc .quieter:hover{background-position:-51px -30px}
.oup-controls .louder, .oupc .louder:hover{background-position:-94px -30px; X-padding-left:-4px;}
/*.oup-controls .quieter,.oupc .quieter:hover{background-position:-51px -30px}
.oup-controls .louder, .oupc .louder:hover{background-position:-94px -30px}*/

/*tools-group*/
.oup-controls .related,.oupc .related:hover{background-position:-141px -30px}
.oup-controls .captn ,  .oupc .captn:hover {background-position:-444px -30px}
.oup-controls .tscript,.oupc .tscript:hover{background-position:-493px -30px}
.oup-controls .popout, .oupc .popout:hover{background-position:-542px -30px}
.oup-controls .fulls, .oupc .fulls:hover {background-position:-395px -30px}
.oup-controls .more, .oupc .more:hover{background-position:-591px -30px}

/*.oup-controls .related,.oupc .related:hover{background-position:-141px -30px}
.oup-controls .captn ,  .oupc .captn:hover {background-position:-446px -32px}
.oup-controls .tscript,.oupc .tscript:hover{background-position:-495px -32px}
.oup-controls .popout, .oupc .popout:hover{background-position:-542px -30px}
.oup-controls .fulls, .oupc .fulls:hover {background-position:-397px -32px}
.oup-controls .more, .oupc .more:hover{background-position:-593px -32px}*/

/*seek-bar.*/
.oup-controls .X-seek-bar *{display:block;}

.oup-controls .seek-bar{background:url(timeline/timeline_grey_main.png)repeat-x center;}
.oup-controls .buffer   {background:url(timeline/timeline_hatch_main.png)repeat-x center;}
.oup-controls .progress{background:url(timeline/timeline_bluebar_main.png)repeat-x center;}
.oup-controls .playhead{background:transparent url(timeline/timeline_slider.png)no-repeat 0 3px; width:11px; height:14px;}

/*.oup-controls .seek-bar, .oupc .buffer, .oupc .progress, .oupc .playhead{
  border:1px solid transparent;
  border-radius:4px;  
}*/
