/*!
  Based on Jumbotron, http://getbootstrap.com/examples/jumbotron/

  Copyright 2015 The Open University (IET-OU).
*/


/* Start: bootstrap/jumbotron.css */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* End: bootstrap/jumbotron.css */


noscript, .browserupgrade {
  font-size: 1.3rem; text-align: center; display: block; margin: 5px;
}


/* Accessibility: https://gist.github.com/nfreear/c471ce46783525f9a9eb
*/
html { font-size: 80%; /* Was: 10px */ }
body { font-size: 1.1em; /* 14px */ background-color: #fefefe; }


html body [ role = tooltip ].tooltip {
  font-size: .75em;
  font-size: 1.05rem;
}
.XX.navbar [ role = tooltip ].tooltip,  {
  font-size: .95em;
}


a:hover img, a.btn:hover, .navbar-header a:hover,
.navbar-inverse .navbar-toggle:hover, .dropdown-toggle:hover {
  outline: 1px solid darkorange;
  outline-offset: 3px;
  transition: .4s;
}
a.ou-logo img {
  outline-offset: 12px;
}

/* Accessibility: colour contrast. */
.navbar-inverse .navbar-toggle {
  border-color: #888;
  color: #eee;
  padding: 2px 9px 8px;
}
.navbar-inverse .navbar-toggle i {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: .85em;
}


/* SVG / PNG switch (MSIE 8).
*/
.svg    .logos img[ src $= ".png" ] { display: none; }
.no-svg .logos img[ src $= ".svg" ] { display: none; }


/* Top navigation.
*/

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: #eee;  /*Was: #9d9d9d*/
}

.navbar-brand {
  margin-top: 0;
  width: 136px; height: 54.4px;
  background: url(images/omp-logo-wb.svg) no-repeat;
}
.no-svg .navbar-brand {
  margin-top: 9px;
  width: 85px; height: 34px;
  background: url(images/omp-logo-white.png) no-repeat;
  margin-left: 5px;
}


a.btn { margin-top: .9em; }


/* Jumbotron.
*/

.jumbotron a { color: #f2f2f2; text-decoration: underline; }
.jumbotron a:hover { color: #fff; }

.x-html, .x-body, .jumbotron { /*height: 100%;*/ min-height: 20em; }

.jumbotron > .container { padding: 4% 7%; /*15%*/ text-align: center; }

p, .jumbotron p { margin: .5em auto; max-width: 33em; }
p em, i { font-style: normal; }

.jumbotron h1 { font-size: 48px; font-weight: normal; }
.jumbotron h1 span { margin-left: .2em; color: #fdc52f; }

.jumbotron .main-banner-splash { margin: 2.5em 0; width: 100%; max-width: 100%; }
.X-main-banner-splash {
  width: 961px; height: 44px;
  background: url(images/main-banner-splash.png) no-repeat;
}

@media (max-width: 1200px) {
  .jumbotron .main-banner-splash img {
    width: 640.7px; height: 29.3px;
  }
}
@media (max-width: 768px) {
  .jumbotron .main-banner-splash img {
    width: 480px; height: 22px; /* 961 x 44 px */
  }
}
/* Temparary - hide! */
@media (max-width: 535px) {
  .jumbotron .main-banner-splash img {
    display: none;
  }
}


/* Row: features, demo, download.
*/

.row-omp h2 { color: #1e4b9b; }
.row-omp a, .heart { color: #ed1c24; }
.row-omp .btn-primary, .btn-primary { background: #1e4b9b; color: #fff; }

.row-omp .icons {
  display: inline-block;
  width: 99%; height: 41px;

  background-repeat: no-repeat;
}
.col-omp-features .icons {
  background-image: url(images/icons-features.png);
}
.col-omp-action .icons {
  background-image: url(images/icons-see-it-in-action.png);
}
.col-omp-code .icons {
  background-image: url(images/icons-get-the-code.png);
}

.col-omp-code .heart {
  font-size: 1.4em;
}


/* Footer.
*/

hr { border-top: 1px solid #ccc; margin-top: 40px; }

footer .logos { float: right; position: relative; display: inline-block; /*top: -20px;*/ }
footer .logos a, .logos .btn-group { display: inline-block; margin-right: 28px; /*18px*/ }
footer .logos a.last { margin: 0; }
footer .X-PNG-iet-logo img { width: 35px; height: 41px; }
footer .iet-logo img { width: 52.5px; height: 61.5px; } /* x 1.5 */
/* ou-logo: 83 x 56px */
footer .X-PNG-player-logo img { width: 93px; height: 41px; }
footer .logos .player-logo { margin-right: 14px; }
footer .player-logo img { width: 120.9px; height: 53.3px; } /* x 1.3 */
footer .ou-logo img { width: 57px; height: 41px; }
footer #share .btn-default { background-color: #f5f5f5; }
footer #share .btn-default:hover { background-color: #ddd; }

@media (max-width: 768px) {
  .X-player-logo { display: none; }
}


/* Jumbotron gradient: http://www.cssmatic.com/gradient-generator#
*/
.jumbotron {
  color: #fff;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(30,76,155,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(30,76,155,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(30,76,155,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(30,76,155,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(30,76,155,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(30,76,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1e4c9b', GradientType=0 );
}


/* Sharing badge.
*/
div.dropdown-menu {
  padding: 0 8px;
  background: #fdfdfd;
  min-width: 350px; /* Was 286px */
}
.dropdown-menu textarea {
  width: 100%;
}
.X-btn-sm.dropdown-toggle {
  padding: 4px 8px;
}
.dropdown-menu .btn-close {
  float: right;
  padding: 0 6px 1px;
  margin-top: 6px;
  background-color: #e6e6e6;
}


/* Jisc-vote widget.
*/
.row-vote, .row-demo {
  font-size: 1.4em;
  text-align: center;
  margin: 1.3em auto;
}

a.jisc-vote { display: block; height: 48px; }

.jisc-vote.xl img[ src *= "shields.io" ] {
  width: 184px; height: 46px; /* x 2.3 */
}
.jisc-vote.lg img[ src *= "shields.io" ] {
  width: 160px; height: 40px; /* x 2 */
}
.jumbotron img[ src *= "shields.io" ],
.jisc-vote.md img[ src *= "shields.io" ]  {
  width: 120px; height: 30px; /* x 1.5 */
}


img[ src *= "elevator.jisc.ac.uk" ] {
  border: 1px solid #aaa;
  border-radius: 12px;
}



/* OMP player demo.
*/
.embed-responsive {
  max-width: 1050px; /*840px;*/
  margin: 0 auto;
}
iframe {
  background: #eee url(http://throbber.net/loader-large.gif) no-repeat center;
  /* http://preloaders.net/en/circular */
}
iframe.omp-player {
  display: inline-block;
  border: 5px solid #ddd;
  border-radius: 5px;
}
iframe.omp-player:hover, iframe.omp-player:focus {
  border-color: #ff6d00;  /* darkorange */
  transition: .6s;
}
@media screen and (max-width: 600px) {
  iframe.omp-player {
    border-width: 1px;
  }
}


.anti-glare {
  background-color: #f6f6f6;
}


/*End */
