@charset "utf-8";
/** OUICE-bold theme for OU player.
* @copyright 2011 The Open University.
* @author A.McEvoy (CSS, visuals)
* @author S.D.Price
*/
/*Note, in general, the theme CSS should probably not deal with the media or transcript areas. */

body, * {
font-family: Verdana, Tahoma,"Lucida Grande",Arial,Helvetica,sans-serif;
}

/*Accessibility: hide volume-out offscreen. */
/*  For now, should we hide the buttons offscreen too? */
.oup-controls .volume-out, .oupc  .quieter, .oupc .louder {
  position: absolute;
  top: -999px;
}

.oup-controls  .more, .oup-controls .time-total, .oup-controls .mute{
  display: none;
}
.oup-controls button span, .oup-controls a span, .oupc .head span{
  display: none;
}

/*.titletoolbar {
background: #f1f2f2 url(img/titlebg.jpg) repeat-x left bottom;
border-radius: 5px;
width: 616px;
padding: 6px;
margin: 6px;
}*/


/*@author S.D.Price, 3 June. */
.oup-title.panel {
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=87)"; /*First!*/
filter:alpha(opacity=87);
opacity:0.87;
max-width:auto;
margin:0.5em;
width:auto;
top:0;
-moz-border-radius:5px;
border-radius:5px;
overflow-y:hidden;	
}

.optionalnav button.decreasesize,
.optionalnav button.increasesize {
font-weight: bold;
}

.optionalnav button.styleoption span {
	background:url(img/styleicon.jpg) no-repeat top left;
	padding-left:1.5em;
}

.titletoolbar .optionalnav button {
background: none repeat scroll 0 0 #E1E2E3;
border: 0 none;
font-size: 13px;
margin: 1px;
padding: 0 2px;
width:auto;
}

.optionalnav {
margin:0.5em 0;
}
.mediatitle li {
margin-left:3em;
}
.titletoolbar .optionalnav .col1,
.titletoolbar .optionalnav .col2,
.titletoolbar .optionalnav .col3 {
display: inline;
}

.oup-title.panel .ou-home {
float:left;
background: url(img/ou-logo.jpg) no-repeat;
width: 32px; height: 38px;
}
/*End: S.D.Price */


.oup-controls {
background: #58595b;
color: #fff;
padding: 6px;
/*width: 618px;*/
-moz-border-radius: 5px;
border-radius: 5px;
/*bottom: 37px;
left: 5px;
position: relative;*/
height: 50px;
}
.oup-controls button, .oup-controls a {
background: #2e2e2e;
border: 0;
-moz-border-radius: 3px;
border-radius: 3px;
vertical-align: middle;
height: auto;
}
.oup-controls .play, .oup-controls .pause{
width: 70px;
height: 50px;
}
.oup-controls .play, .oupc .play:hover {
background: #2e2e2e url(img/playbtn.jpg) no-repeat center;
}
.oup-controls .pause, .oupc .pause:hover {
background: #2e2e2e url(img/pausebtn.jpg) no-repeat center;
}
/*.oup-controls .play span, .oup-controls .pause span {
display: none;
}
.oupc  .row-1, .oupc  .row-2 {
display: inline-block;
clear: both;
top: 0;
left: 0;
}*/
.X-oupc .row-1{
left: 0;
top: -10px;
display: inline-block;
vertical-align: middle;
}
.X-oupc .row-2 {
/*left: -176px;
top: 20px;*/
text-align: right;
margin-top: 9px;
}
.oup-controls /*.row-2*/ button, .oup-controls  a {
color: #6dcff6;
font-weight: bold
}
.oup-controls a {
text-decoration: none;
}
.oup-controls .back, .oup-controls .forward {
width: 25px;
height: 20px;
}
.oup-controls .back {
-moz-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;
background: #2e2e2e url(img/rewindbtn.jpg) no-repeat center;
}
.oup-controls .forward {
-moz-border-radius: 0 5px 5px 0;
border-radius: 5px 0 0 5px;
background: #2e2e2e url(img/forwardbtn.jpg) no-repeat center;
}
.oup-controls  .seek.group{
  top: 10px;
  left: 76px;
}
.oup-controls .time-out {
background: #414042;
color:#eee;
border: 1px solid #333;
-moz-border-radius: 9px 0 0 9px;
padding: 2px 5px;
font-size: 12px;
border-top: 2px solid #2c2b2c;
vertical-align: middle;
}
/*span.time span, span.time strong{
padding: 2px;
}
.X-track * {
    display: inline;
}*/
.oup-controls .track, .volume {
background-color: #7c7d7f;
border: 0;
border-top: 2px solid rgba(0,0,0,0.4);
display: inline-block;
position: relative;
vertical-align: middle;
}
.oup-controls .track {
  position: fixed;
  bottom: 32px;
  left: 224px;
height: 18px;
/*left: -6px;*/
-moz-border-radius: 0 9px 9px 0;
border-radius: 0 9px 9px 0;
}
.oup-controls .playhead {
height: 18px;
}
.oup-controls .progress, .oup-controls .buffer {
height: 18px;
opacity: 1;
}
.oup-controls .progress {
background-color: #6dcff6;
}
.oup-controls .buffer {
background: #a7a9ac url(img/pattern1.jpg) repeat bottom left;;
}
/*.speakericon{
display: inline-block;
vertical-align: middle;
margin: 0 5px 0 0;
}*/
.volume-bar {
width: 60px;
-moz-border-radius: 20px;
border-radius: 20px;
height: 11px;
margin-top: 2px;
cursor: pointer;
}
.volume-something, .current{
background-color: #6dcff6;
width: 30px;
height: 11px;
position: absolute;
display:inline;
-moz-border-radius: 20px 0 0 20px;
border-radius: 20px 0 0 20px;
}
.volumehead{
background: url(img/volumehead.png) no-repeat center;
height: 16px;
width: 16px;
cursor: pointer;
position: absolute;
margin: -3px 0 0 20px;
}

/*.oup.show-script #ouplayer-div, .oup.show-script .XX--oup-controls {
    width: 398px;
}
.oup.show-script #ouplayer-panel {
    -moz-border-radius: 0 5px 5px 0;
    height: 394px;
    top: -374px;
	background: #f1f2f2;
}*/

/*icons*/
.oup-controls .tools.group{
position:absolute;
bottom:10px;
right: 64px;
}
/*.oup-controls a.related, .oup-controls button.captn, .oup-controls button.script, .oup-controls a.popout, .oup-controls button.fulls*/
.oup-controls .tools.group  button, .oup-controls .tools.group a {
height: 20px;
width: 24px;
}
.oup-controls  a{
  position:relative;
  top:0;
  padding:0;
  display:inline-block;
}
.oup-controls button.mute{
background: url(img/speakericon.png) no-repeat center;
}

.oup-controls a.related{
background: url(img/relativeicon.png) no-repeat center;
}
.oup-controls a.captn {
background: url(img/captionsicon.png) no-repeat center;
}
.oup-controls a.tscript {
background: url(img/texticon.png) no-repeat center;
}
.oup-controls a.popout {
background: url(img/popouticon.png) no-repeat center;
}
.oup-controls a.fulls {
background: url(img/maximiseicon.png) no-repeat center;
}
/*.oup-controls a.related span, .oup-controls button.captn span, .oup-controls button.script span, .oup-controls a.popout span, .oup-controls button.fulls span{
display: none;
}*/

