
div#ou-region1{
  float:none;
  width:auto;
  x-max-width:99%;
  background-color:transparent;
}
div#ou-page{ background-color:#fdfdfd; font-size:104%; }
img{ display:inline-block; }
hr { height:0; border-top:1px solid #ccc; margin:2em 0; }

#developed-by{ margin-top:2.8em; padding:2px; border-top:1px solid #e5e5e5; /*#bbd8e7*/ background:#f9f9f9; font-size:.86em; }

/* Cf. http://www3.open.ac.uk/study/stylesheets/study-common.css: line ~201.
*/
body.pg-player-home li.tm-player-home a, .pg-demo li.tm-demo a, .pg-about li.tm-about a,
.pg-demo-ouldi li.tm-demo-ouldi a, .pg-test-podcast_errors li.tm-test-error a{
    background-color:#fbfbfb;
    background-image:none;
}

/* Icons: http://www.open.ac.uk/blogs/icons/?s=lock /?s=external
*/
ul.ou-sections li.tm-extern a, ul.ou-sections li.X-tm-demo-vle a{
  padding-right:15px;
}
li.tm-extern a:hover, li.tm-extern a:focus, li [rel=external]:focus{
  background-image:url(http://www.open.ac.uk/includes/icons/16x16px/02weblink16.gif);
  background-image:url(icons/external_link_16.png);
  background-repeat:no-repeat;
  background-position:bottom right;
}
li.X-tm-demo-vle a:hover{
  background-image:url(/ouplayer/assets/site/icons/lock_16.png);
  background-repeat:no-repeat;
  background-position:bottom right;
}

ul.ou-sections li a:hover, ul.ou-sections li a:focus{
  background-color:#fdfdfd;
}


/* View: ouembed-form.
*/
h2{ margin-top:1.2em; }
input, textarea{ max-width:99%; }
textarea, #share-link-fm{ width:97%; }
.ouembed-form{ font-size:; /*1.05em*/ }
.ouembed-form input, #share-link-fm{ font-size:1.2em; padding:.6em 4px; background:#ddd; color:#333; border:1px solid #d0d0d0; margin:0; }
input#url{ background:#f8f8f8; border-right-width:0 }
input[type=submit]{ cursor:pointer; padding:.6em; }
.X-ouembed-form .reset:before { position:relative; top:35px; left:-3em; }
.ouembed-form input[type=submit]:hover{ background:#e8e8e8; }
#examples li{ margin:3px 0; width:60%; white-space:nowrap; overflow: hidden; text-overflow:ellipsis; /*#1388, truncate too-long titles..*/ }
#X-oembed-out{ margin:1em auto; x-resize:both; x-overflow:auto; }
textarea, #oembed-out, #share-link-fm, #ajax-log{ background:#f8f8f8; border:1px solid #ccc; padding:6px; }
#ajax-log{ width:95%; max-height:9em; x-white-space:nowrap; overflow-x:hidden; overflow-y:auto; text-overflow:ellipsis; font-size:1.1em; }

input#url:focus, textarea:focus{ box-shadow:0 0 25px #c0c0c0; background:#fff; }
#oembed-out:hover, textarea:hover, #share-link-fm:hover{ background:#fff; }
#X-oembed-js-fm{ white-space:nowrap; overflow:hidden; }
#show-sharing{ margin:1.5em 0; padding:.5em; font-size:1.1em; }
#X-static-embed .ifr:before{content:'('}

.copy-fm{ cursor:pointer; }

